<div class="top_page">
    <div class="top_header">
        <div class="container">
            <div class="top_header_ttl">
                <h1>自己分析サポート</h1>
            </div>
            <div class="top_header_txt">
                <p>就活などによく使う自己分析のフレームワークをまとめました。</p>
                <p>簡潔に直感的に可視化するツールを用意しました。ぜひご利用下さい。</p>
            </div>
        </div>
    </div>

    <div class="top_main_wrapper">
        <div class="top_main">
            <div class="top_main_ttl">
                <h3>フレームワーク一覧</h3>
            </div>

            <div class="top_main_index">
                <ul class="tool_index">
                    <li><%= link_to("・自分史","/my_history") %></li>
                        <p>過去に経験したことを幼少期から現在まで書き出す</p>

                    <li><%= link_to("・人生曲線","/motivation")%></li>
                        <p>過去から現在までのモチベーションの変化を可視化</p>

                    <li><%= link_to("・SWOT分析","/swot")%></li>
                        <p>Strength(強み),Weakness(弱み),Opportunity(機会),Threat(脅威)で分析</p>

                    <li><%= link_to("・Will,Can,Must","/wcm")%></li>
                        <p>やりたいこと、できること、やらなければならないこと</p>

                    <li><%= link_to("・マインドマップ","/mmp")%></li>
                        <p>大きなカテゴリーから小さなカテゴリー</p>
                        
                </ul>
            </div>
        </div>

        <div class="top_sub">
            <div class="top_warning">
                <h4>
                    注意点
                </h4>
                <p>フレームワークを使用する時には、注意すべき点がいくつかあります。</p>
                <p>詳しくは下記のリンクから</p>

                <div class="top_warning_btn">
                    <p><%= link_to("フレームワークを使用する際に注意する点","/warning") %></p>
                </div>
            </div>
        </div>

    </div>
</div>