<div class="motivation_page j">

    <%= render partial: 'layouts/motivation_lay' %>

    <div class="mtv_main">
        <div class="container">
            <%= line_chart @graph.order(age: :asc).pluck(:age, :happy) ,xtitle:"年齢",ytitle:"モチベーション",label:"モチベーション" %>

            <div class="mtv_card_index">
                <% @graph.each  do|graph| %>
                    <div class="mtv_card">
                        <div class="mtv_card_top">
                            <p><%= graph.age %>歳</p>
                            <p><%= graph.happy %>%</p>
                        </div>
                        <div class="mtv_card_bottom">    
                            <p><%= graph.comment %></p>
                        </div> 
                        <div class="mtv_destroy">   
                            <%= link_to("削除","/motivation/#{graph.id}/destroy",{method:"post"})%>
                        </div>    
                    </div>
                    
                <% end %>
            </div>
   
            <div class="mtv_form_top">
                <div class="mtv_form_ttl">
                    <h2>データを追加する</h2>
                </div>
                <div class="mtv_form_txt">
                    <p>下記のフォームにデータを入力すると、グラフに値が代入されます。</p>
                </div>
            </div>

            <%= form_tag ("/motivation") do%>

                <div class="mtv_form_wrapper">
                    <div class="mtv_form">
                        <h3>年齢</h3>
                        <input type="number" name="age">
                    </div>

                    <div class="mtv_form">
                        <h3>モチベーション度</h3>
                        <input type="number" name="happy">
                    </div>

                    <div class="mtv_form">
                        <h3>コメントを入力してください</h3>
                        <textarea name="comment"></textarea>
                    </div>

                    <div class="mtv_form">
                        <h3>IDを入力してください</h3>
                        <input type="text" name="pass" value="<%= params[:search] %>" >
                    </div>

                    <div class="mtv_form_btn">
                        <input type="submit" class="mtv_submit">
                    </div>    
                </div>
            <%end%>
        </div>
    </div>

    
</div>