<div class="motivation_page j">

    <%= render partial: 'layouts/motivation_lay' %>

    <div class="mtv_main">
        <div class="container">
            <%= line_chart @graphs ,xtitle:"年齢",ytitle:"モチベーション",label:"モチベーション"%>

            <div class="mtv_form_top">
                <div class="mtv_form_ttl">
                    <h2>データを追加する</h2>
                </div>
                <div class="mtv_form_txt">
                    <p>下記のフォームにデータを入力すると、グラフに値が代入されます。</p>
                </div>
            </div>

           

            <%= form_tag ("/motivation") do%>

                <div class="mtv_form_wrapper">
                    <div class="mtv_form">
                        <h3>年齢</h3>
                        <input type="number" name="age">
                    </div>

                    <div class="mtv_form">
                        <h3>モチベーション度</h3>
                        <input type="number" name="happy">
                    </div>

                    <div class="mtv_form">
                        <h3>コメントを入力してください</h3>
                        <textarea name="comment"></textarea>
                    </div>

                    <div class="mtv_form">
                        <h3>パスワードを入力してください</h3>
                        <input type="text" name="pass" value="<%= params[:pass] %>" >
                    </div>
                    <p>初めて登録する方も、こちらに入力ください</p>
                    <div class="mtv_form_btn">
                        <input type="submit" class="mtv_submit">
                    </div> 
                </div>       
            <%end%>

            <div class="motivation_search">
                <div class="search_ttl">
                    <h3>パスワードが既存であればこちらに入力してください</h3>
                    <p>※こちらにパスワードを入力すると登録したグラフのページに移動します</p>
                </div>
                <div class="mtv_search_wrapper">
                    <%= form_tag("/motivation_search",{method:"get"}) do %>
                           
                        <span class="mtv_search_form_wrapper"><%= text_field_tag :search ,"",{class: "mtv_search_form"} %></span>
                        <span class="mtv_search_btn"><%= submit_tag '探す',class:"mtv_submit" %>
                    <% end %>
                </span>
            </div>    
            
        </div>
    </div>
</div>