<div class="my_history_page j">
    <%= render partial: 'layouts/my_history_lay' %>
    
    <%= form_tag ("/my_history") do%>
        <div class="history_card_index">
            <div class="history_card">
                <div class="container">
                    <h3 class="history_card_ttl">
                        幼少時代
                    </h3>
                    <textarea placeholder="表示させたい文章" class="my_history_form" name="m_h_y"><%= @data.m_h_y %></textarea>
                </div>
            </div> 

            <div class="history_card">
                <div class="container">
                    <h3 class="history_card_ttl">
                        小学校時代
                    </h3>
                    <textarea placeholder="表示させたい文章" class="my_history_form" name="m_h_s"><%= @data.m_h_s %></textarea>
                </div>
            </div> 

            <div class="history_card">
                <div class="container">
                    <h3 class="history_card_ttl">
                        中学校時代
                    </h3>
                    <textarea placeholder="表示させたい文章" class="my_history_form" name="m_h_t"><%= @data.m_h_t %></textarea>
                </div>
            </div> 

            <div class="history_card">
                <div class="container">
                    <h3 class="history_card_ttl">
                        高校時代
                    </h3>
                    <textarea placeholder="表示させたい文章" class="my_history_form" height="300px" name="m_h_k"><%= @data.m_h_k %></textarea>
                </div>
            </div> 

            <div class="history_card">
                <div class="container">
                    <h3 class="history_card_ttl">
                        大学時代
                    </h3>
                    <textarea placeholder="表示させたい文章" class="my_history_form" name="m_h_d"><%= @data.m_h_d %></textarea>
                </div>
            </div>
            <div class = "form_con">
                <div class="form_id_pass">
                    <h3>IDを入力してください</h3>
                    <input type="text" name="id_pass" value="<%= params[:id_pass] %>" >
                </div>
                <div class="form_btn">
                    <%= link_to("更新","/my_history/#{@data.id_pass}/edit") %>
                </div>  
            </div>    
        </div>
    <%end%>
    <div class="search_con">
        <div class="search_ttl">
            <h3>IDが既存であればこちらに入力してください</h3>
            <p>※こちらにIDを入力すると登録した自分史に移動します</p>
        </div>
        <div class="search_wrapper">
            <%= form_tag("/my_history_search",{method:"get"}) do %>   
                    <span class="mtv_search_form_wrapper"><%= text_field_tag :search ,"",{class: "mtv_search_form"} %></span>
                    <span class="mtv_search_btn"><%= submit_tag '探す',class:"mtv_submit" %>
            <% end %>
        </span>
    </div>    

</div>