<div class="swot_page j">

    <%= render partial: 'layouts/swot_lay' %>

    <%= form_tag ("/swot") do %>
        <div class="swot_wrapper">
            <div class="container">
                <div class="swot_form">
                    <div class="swot_pear">
                        <div class="swot_card">
                            <h2 class="swot_ttl">Strength</h2>
                            <textarea name="swot_s"></textarea>
                        </div>
                        <div class="swot_card">
                            <h2 class="swot_ttl">Weakness</h2>
                            <textarea name="swot_w"></textarea>
                        </div>
                    </div>
                    <div class="swot_pear">
                        <div class="swot_card">
                            <h2 class="swot_ttl">Opportunity</h2>
                            <textarea name="swot_o"></textarea>
                        </div>
                        <div class="swot_card">
                            <h2 class="swot_ttl">Threat</h2>
                            <textarea name="swot_t"></textarea>
                        </div>
                    </div>
                </div>

                <div class="swot_center">
                    <h1>⬇︎</h1>
                </div>

                <div class="Xswot_form">
                    <div class="swot_pear">
                        <div class="swot_card">
                            <h2 class="swot_ttl">Strength✖️Opportunity</h2>
                            <textarea name="s_o"></textarea>
                        </div>
                        <div class="swot_card">
                            <h2 class="swot_ttl">Strength ✖️ Threat</h2>
                            <textarea name="s_t"></textarea>
                        </div>
                    </div>
                    <div class="swot_pear">
                        <div class="swot_card">
                            <h2 class="swot_ttl">Weakness✖️Opportunity</h2>
                            <textarea name="w_o"></textarea>
                        </div>
                        <div class="swot_card">
                            <h2 class="swot_ttl">Weakness ✖️ Threat</h2>
                            <textarea name="w_t"></textarea>
                        </div>
                    </div>
                </div>
            </div> 
        </div>  
        <div class = "form_con">
            <div class="form_id_pass">
                <h3>IDを入力してください</h3>
                <input type="text" name="id_pass" value="<%= params[:id_pass] %>" >
            </div>
            <p>初めて登録する方も、こちらに入力ください</p>
            <div class="form_btn">
                <input type="submit" class="form_submit">
            </div>  
        </div>  
    <%end%>    

    <div class="search_con">
        <div class="search_ttl">
            <h3>IDが既存であればこちらに入力してください</h3>
            <p>※こちらにIDを入力すると登録したSWOT分析に移動します</p>
        </div>
        <div class="search_wrapper">
            <%= form_tag("/swot_search",{method:"get"}) do %>   
                    <span class="search_form_wrapper"><%= text_field_tag :search ,"",{class: "mtv_search_form"} %></span>
                    <span class="search_btn"><%= submit_tag '探す',class:"submit" %>
            <% end %>
        </span>
    </div>

</div>    