<div class="wcm_page j">

    <%= render partial: 'layouts/wcm_lay' %>

    <%= form_tag ("/wcm") do%>
        <div class="wcm_wrapper">
            <div class="container">
                <div class="wcm_set">
                    <h2 class="wcm_ttl">Will</h2>
                    <p class="wcm_txt">やりたいこと</p>
                    <textarea class="wcm_form" name = "will"><%= @wcm.will %></textarea>
                </div>

                <div class="wcm_set">
                    <h2 class="wcm_ttl">Can</h2>
                    <p class="wcm_txt">できること</p>
                    <textarea class="wcm_form" name = "can"><%= @wcm.can %></textarea>
                </div>

                <div class="wcm_set">
                    <h2 class="wcm_ttl">Must</h2>
                    <p class="wcm_txt">やらなければならないこと</p>
                    <textarea class="wcm_form" name = "must"><%= @wcm.must %></textarea>
                </div>

                <div class="wcm_bottom">
                    <h3 class="wcm_answer_txt">
                        WillとCanの重なる部分が自分のキャリアの方向性を示している
                    </h3>
                    <div class="wcm_answer">
                        <h3>Will ∩ Can =</h3>
                        <input class="wcm_input">
                    </div>    
                </div>
            </div>
            <div class = "form_con">
                <div class="form_id_pass">
                    <h3>IDを入力してください</h3>
                    <input type="text" name="id_pass" value="<%= params[:id_pass] %>" >
                </div>
                <div class="form_btn">
                    <input type="submit" class="form_submit">
                </div>  
            </div>
        </div>
    <% end %>

    <div class="search_con">
        <div class="search_ttl">
            <h3>IDが既存であればこちらに入力してください</h3>
            <p>※こちらにIDを入力すると登録したWill,Can,Mustに移動します</p>
        </div>
        <div class="search_wrapper">
            <%= form_tag("/swot_search",{method:"get"}) do %>   
                <span class="search_form_wrapper"><%= text_field_tag :search ,"",{class: "search_form"} %></span>
                <span class="search_btn"><%= submit_tag '探す',class:"submit" %>
            <% end %>
        </span>
    </div>


</div>